@using Pokedex.Core.Application.ViewModels.Tipo
@model GuardarTipoViewModel

@{
    ViewData["Title"] = "Eliminar Tipo";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-6 offset-3">
            <div class="Card">
                <div class="card-header bg-danger text-white">
                    <h4>¿Are you sure do you want delete the type: @Model.Name?</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Tipo" asp-action="DeletePost">

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                        <a asp-controller="Tipo" asp-action="Index" class="btn btn-outline-warning">Volver Atrás</a>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


